.iphone13promax-1
{
width:428px;
height:926px;
padding:0px;
background-color:#b4e36d;
position:absolute;
}
.rectangle1
{
width:428px;
height:926px;
background-color:#bde977;
}
.never1
{
transform:rotate(-91deg);
border-radius:0px 266px 9px 0px;
width:479px;
height:443.840087890625px;
left:748.0063171386719px;
top:416.1540711671114px;
position:absolute;
}
.rectangle2
{
border-radius:100px 0px 8px 0px;
width:428px;
height:548px;
background-color:#d9d9d9;
border:1px solid #000000;
}
.rectangle3
{
border-radius:120px;
width:319px;
height:66px;
background-color:#d9d9d9;
left:55px;
top:571px;
position:absolute;
}
.emailid
{
text-align:center;
vertical-align:text-top;
font-size:30px;
font-family:Red Hat Display;
left:119px;
top:596px;
width:199px;
height:40px;
position:absolute;
line-height:auto;
color:#000000;
}
.rectangle4
{
border-radius:196px;
width:319px;
height:66px;
background-color:#d9d9d9;
top:689px;
left:55px;
position:absolute;
}
.rectangle5
{
border-radius:200px;
width:319px;
height:66px;
background-color:#d9d9d9;
top:822px;
left:55px;
position:absolute;
}
.password
{
text-align:center;
vertical-align:text-top;
font-size:30px;
font-family:Red Hat Display;
left:119px;
top:711px;
width:199px;
height:40px;
position:absolute;
line-height:auto;
color:#000000;
}
.submit
{
text-align:center;
vertical-align:text-top;
font-size:30px;
font-family:Red Hat Display;
left:119px;
top:840px;
width:199px;
height:40px;
position:absolute;
line-height:auto;
color:#000000;
}
